# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Dataset and outputs
Microcontroller Detection/
test_data/
test_predictions/
outputs/
src/__pycache__/

# System files
.DS_Store
Thumbs.db

# IDE/project files
.idea/
.vscode/

# Logs and temp
*.log
*.tmp
